- @events.each do |event|
  - current_user_vote = event.up_down_vote_for_user(current_user)
  .event-row{:event_id => event.id}
    .rounded-rect-outer
      .rounded-rect-inner
        .column.info-column
          - image = event.artists.first.album_image
          - if image
            .album-image= image_tag image
            
          .artists
            %span.venue= h event.venue.name
            &bull;
            %span.date= h event.date.strftime("%B %d, %Y")
            .artist-name= h event.artists.collect{|x| x.name}.to_sentence  
      
        .column.vote-column
          .current
            = h event.votes_up_count
            = h event.votes_down_count
            = h event.attendance_count 
        
          .voting-options
            .vote-link{:vote_kind => "Up"}= link_to "Vote Up!", "#"
            .vote-link{:vote_kind => "Down"}= link_to "Vote Down!", "#"
        
            .comment{:style => "display: none"} 
              %form
                Add a comment:
                = hidden_field_tag "id", "-1" 
                = text_field_tag "vote[comment]"
                .submit-comment= submit_tag 'Create'
            
        .column.attendance-column
          .vote-link{:vote_kind => "Attending"}= link_to "I'm going!", "#"
        .clearer           
  .clearer

:javascript 

  // Voting
  $(".event-row .voting-options .vote-link a").click(function(){
    event_id = $(this).parents(".event-row").attr("event_id");
    vote_kind = $(this).parents(".vote-link").attr("vote_kind");
    form_object = $(this).parents(".voting-options").find(".comment");
    
    $.post('/votes',  
           {'vote[event_id]': event_id, 'vote[kind]': vote_kind },
           
           // Show the comment field
           function(data){             
              if (data != "-1") {
                if (vote_kind == "Up" || vote_kind == "Down") { 
                  form_object.find("#id").val(data);
                  form_object.slideDown();
                }         
              }
            });
    return false;
  });
  
  // Commenting
  
  $(".event-row .comment form").submit(function(){
    url = "/votes/" + $(this).find("#id").val();
    $.ajax({
        type: "PUT",
        url: url,
        data: $(this).serialize() });
    return false;
    
  });
