<h1>New event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :jambase_id %><br />
    <%= f.text_field :jambase_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :ticket_url %><br />
    <%= f.text_field :ticket_url %>
  </p>
  <p>
    <%= f.label :event_url %><br />
    <%= f.text_field :event_url %>
  </p>
  <p>
    <%= f.label :venue_id %><br />
    <%= f.text_field :venue_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>